html{
    background-color: #E9E5D6
}
*{font-family: sans-serif;
}
h1 {font-family: "Rubik Dirt", sans-serif;
    font-size: 3.5rem;
    color: #362706;
}
.navstyle{
    background: #acc992;
    font-weight: bold;

}
a{
    text-decoration: none;
}
#ulnav{
    list-style-type: none;
    margin: 0;
    padding: 0;
}
#ulnav li{
    margin: 5px;
}
li{
    display: inline;
    a:link{
        color: #464E2e;
        background-color: #acc992;
    }
    a:visited{
        color: #464E2e;
        background-color: #acc992;
    }
    a:hover{
        color: #E9E5D6;
        background-color: #464E2e;
    }
    a:active{
        color: #E9E5D6;
        background-color: #464E2e;
    }
}
.menu{
    background-color: #acc992;
}